dicom-hida-controls.controls(bridge="ctrl")
dicom-graph.graph(bridge="ctrl")
dicom-viewer.viewer(ng-hide="ctrl.controlsDir.analysis", bridge="ctrl")
dicom-hida-analysis.analysis(ng-if="ctrl.controlsDir.analysis", bridge="ctrl")