input#file(style='display:none;', type='file')
.row.dashboard-header
  .col-sm-12
    h2
      | Show Image &nbsp;
      i.fa.fa-cloud-upload(ng-click='ctrl.open()')
    table
      tr
        td
          strong Window Width: 
        td {{ctrl.ww}}
      tr
        td
          strong Window Level:
        td {{ctrl.wl}}
      tr
        td
          strong Frames:
        td {{ctrl.frame}} of {{ctrl.frames}}
      tr
        td
          strong Color:
        td {{ctrl.color}}
    br
    .dicom(style="overflow: scroll; width: 512px; height: 512px; background: black;")