.controls
  .action
    i.icon.fa.fa-floppy-o
    .text Load
  .action
    i.icon.fa.fa-picture-o
    .text Window
  .action.selected
    i.icon.fa.fa-pencil-square-o
    .text Draw
  .action
    i.icon.fa.fa-arrows
    .text Edit
paper-dicom.viewer(images="ctrl.images")