input#file(style='display:none;', type='file', accept=".dcm")
.row.dashboard-header
  .col-sm-12
    h2
      | Show Image &nbsp;
      i.fa.fa-cloud-upload(ng-click='ctrl.open()')
    table
      tr
        td
          strong Window Width: 
        td {{ctrl.ww}}
      tr
        td
          strong Window Level:
        td {{ctrl.wl}}
    br
    .dicom(style="width:512px; height:512px; background: black;")