.middle-box.text-center.loginscreen.animated.fadeInDown
  div
    form.m-t(role='form', action='#')
      .form-group
        input.form-control(type='email', placeholder='Username', required='')
      .form-group
        input.form-control(type='password', placeholder='Password', required='')
      button.btn.btn-primary.block.full-width.m-b(type='submit') Login
      a(href='#')
        small Forgot password?
      p.text-muted.text-center
        small Do not have an account?
      a.btn.btn-sm.btn-white.btn-block(href='register.html') Create an account
