nav.navbar-default.navbar-static-side(role='navigation')
  .sidebar-collapse
    ul#side-menu.nav(side-navigation='')
      li.nav-header
        .logo-element
          | HIDA
      li(ui-sref-active='active')
        a
          i.fa.fa-laptop
          span.nav-label Main page
      li(ui-sref-active='active')
        a
          i.fa.fa-desktop
          span.nav-label Minor page