input#file(style='display:none;', type='file', multiple='')

nav.navbar-default.navbar-static-side(role='navigation')
  .sidebar-collapse
    ul#side-menu.nav(side-navigation='')
      li.nav-header
        .dropdown.profile-element
          img.img-circle(alt='image', src='img/profile.jpg', width='30')
          span.name.block Jorrit Posthuma
      li
        a(ng-click="ctrl.open()")
          i.fa.fa-cloud-upload
          span.nav-label Load Image
      li(ui-sref-active='active')
        a(ui-sref='main.home')
          i.fa.fa-photo
          span.nav-label Show Image
      li(ui-sref-active='active')
        a(ui-sref='main.export')
          i.fa.fa-cloud-download
          span.nav-label Export
