.cornerstone-enabled-image {
  user-select: none;
  cursor: default;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.layout-nav {
  position: fixed;
  width: 220px;
  top: 0;
  bottom: 0;
}

.layout-top {
  position: fixed;
  height: 60px;
  top: 0;
  right: 0;

  padding: 0 15px 0 15px;
}

.layout-content {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .layout-nav                   { left: -220px; }
  .layout-top, .layout-content  { left: 0;      }
}

@media (min-width: 768px) {
  .layout-nav                   { left: 0px;    }
  .layout-top, .layout-content  { left: 220px;  }
}

.main-home {
  .controls {
    position: absolute;
    background: black;
    top: 0px;
    bottom: 0;
    width: 150px;
    left: 0;
  }

  .viewer {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 150px;
    right: 0px;
  }
}

.main-hida {
  .controls {
    position: absolute;
    background: black;
    top: 0px;
    bottom: 0;
    width: 150px;
    left: 0;
  }

  .graph {
    position: absolute;
    background: black;
    top: 0px;
    height: 150px;
    left: 150px;
    right: 0px;
  }

  .viewer {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 150px;
    right: 0px;
  }
}

.profile-element .name {
  color: white;
  font-weight: bold;
  margin-top: 8px;
}

.dicom-viewer-directive {
  background: black;

  table {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;

    td {
      padding: 2px 5px;
    }
  }
}

.dicom-controls-directive {
  .action {
    text-align: center;
    margin: 30px 0 40px 0;
    color: white;
    cursor: pointer;

    .icon {
      font-size: 30px;
      margin-bottom: 12px;
    }

    .text {
      font-weight: bold;
    }
  }

  .action.selected {
    color: #009dec;
  }
}