input {
  font-family: $font-stack;
  font-weight: 200;
}

.cornerstone-enabled-image {
  user-select: none;
  cursor: default;
}

.c3-tooltip-container {
  display: none !important;
}

.dicom-graph-dir {
  @include flexbox();
  height: 150px;

  .lines {
    height: 100%;
  }

  .info {
    @include flex-shrink(0);
    @include flexbox();
    @include justify-content(center);

    height: 100%;
    width: 150px;
    color: white;
    padding: 10px 0;

    table {
      height: 100%;

      .color {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        margin-right: 20px;
      }
    }
  }
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.layout-nav {
  position: fixed;
  width: 220px;
  top: 0;
  bottom: 0;
}

.layout-top {
  position: fixed;
  height: 60px;
  top: 0;
  right: 0;

  padding: 0 15px 0 15px;
}

.layout-content {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .layout-nav                   { left: -220px; }
  .layout-top, .layout-content  { left: 0;      }
}

@media (min-width: 768px) {
  .layout-nav                   { left: 0px;    }
  .layout-top, .layout-content  { left: 220px;  }
}

.main-home, .main-hida {
  .controls {
    position: absolute;
    background: black;
    top: 0px;
    bottom: 0;
    width: 150px;
    left: 0;
  }
}

.main-home {
  .viewer {
    position: absolute;
    background: black;
    top: 0px;
    bottom: 0;
    left: 150px;
    right: 0px;
  }
}

.main-hida {
  .graph {
    position: absolute;
    background: black;
    top: 0px;
    height: 150px;
    left: 150px;
    right: 0px;
  }

  .viewer, .analysis {
    position: absolute;
    background: black;
    top: 150px;
    bottom: 0;
    left: 150px;
    right: 0px;
  }

  .analysis {
    padding: 30px;

    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);

    h1 {
      color: white;
    }

    input {
      border-radius: 3px;
      font-size: 16px;
      background: #111;
      border: none;
      color: white;
      margin: 10px;
      padding: 5px 15px;
      text-align: center;
      width: 320px;
    }

    .postfix {
      color: white;
      font-size: 11px;
    }

    .submit {
      color: #333;
      margin-top: 30px;
      font-size: 50px;

      &.valid {
        color: #009dec;
      }
    }
  }
}

.profile-element .name {
  color: white;
  font-weight: bold;
  margin-top: 8px;
}

.dicom-viewer-directive {
  background: black;
  width: 100%;
  height: 100%;

  .placeholder, .image, .info, canvas {
    width: 100%;
    height: 100%;
  }

  .placeholder {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);

    h1 {
      color: white;
    }
  }

  .info {
    overflow: auto;
  }

  i.infoToggle {
    position: absolute;
    top: 30px;
    right: 30px;

    font-size: 15px;
    color: #009dec;
  }

  .image table {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .warnings {
    position: absolute;
    left: 30px;
    bottom: 30px;

    .head {
      color: red;
      font-weight: bold;
    }
  }

  table {
    color: white;

    .tag {
      font-size: 9px;
      color: #AAA;
      font-family: "Lucida Console", Monaco, monospace;
    }

    .level {
      div {
        width: 10px;
        i {
          margin-right: 2px;
        }
      }
    }

    .name {
      font-weight: bold;
    }

    .unsupported {
      font-size: 9px;
      color: #AAA;
    }

    td {
      padding: 2px 7px;
    }
  }
}

.dicom-controls-directive {
  .action {
    text-align: center;
    margin: 30px 0 40px 0;
    color: white;
    cursor: pointer;

    .icon {
      font-size: 30px;
      margin-bottom: 12px;
    }

    .text {
      font-weight: bold;
    }
  }

  .action.selected {
    color: #009dec;
  }
}