.cornerstone-enabled-image {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

.layout-nav {
  position: fixed;
  width: 220px;
  left: 0;
  top: 0;
  bottom: 0;
}

.layout-top {
  position: fixed;
  heigth: 60px;
  top: 0;
  left: 220px;
  right: 0;

  padding: 0 15px 0 15px;
}

.layout-content {
  position: fixed;
  top: 60px;
  left: 220px;
  right: 0;
  bottom: 0;
}

.main-home {
  table {
    position: absolute;
    color: white;
    top: 82px;
    left: 32px;

    td {
      padding: 2px 5px;
    }
  }
}

.profile-element .name {
  color: white;
  font-weight: bold;
  margin-top: 8px;
}