.dicom-controls-directive {
  .action {
    text-align: center;
    margin: 30px 0 40px 0;
    color: white;
    cursor: pointer;

    .icon {
      font-size: 30px;
      margin-bottom: 12px;
    }

    .text {
      font-weight: bold;
    }
  }

  .action.selected {
    color: #009dec;
  }
}