.dicom-viewer-directive
  canvas(resize="true")
  table
    tr
      td
        strong Window Width: 
      td {{ctrl.viewer.lut_window.width}}
    tr
      td
        strong Window Level:
      td {{ctrl.viewer.lut_window.level}}
    tr
      td
        strong Frame:
      td {{ctrl.viewer.frame}} of {{ctrl.viewer.frames}}
    tr
      td
        strong Color:
      td {{ctrl.viewer.color}}