
<div class="dicom-viewer-directive">
  <div ng-if="!ctrl.viewer.loaded()" class="placeholder">
    <h1>No DICOM image loaded!</h1>
    <h2>You can use drag &amp; drop to load files</h2>
  </div>
  <div ng-show="ctrl.viewer.loaded() &amp;&amp; !ctrl.details" class="image">
    <canvas resize="true"></canvas><i ng-click="ctrl.showInfo()" class="infoToggle fa fa-info-circle"></i>
    <table class="patient_info">
      <tr>
        <td class="name">Patient ID:</td>
        <td>{{ctrl.viewer.file.file.get('x00100020').toString()}}</td>
      </tr>
      <tr ng-if="ctrl.bridge.hida.result">
        <td class="name">Patient Weight</td>
        <td>{{ctrl.bridge.hida.result.weight}}</td>
      </tr>
      <tr ng-if="ctrl.bridge.hida.result">
        <td class="name">Patient Length</td>
        <td>{{ctrl.bridge.hida.result.length}}</td>
      </tr>
      <tr>
        <td class="name">DOB:</td>
        <td>{{ctrl.viewer.file.file.get('x00100030').toString()}}</td>
      </tr>
      <tr>
        <td class="name">Window Width: </td>
        <td>{{ctrl.viewer.lut_window.width}}</td>
      </tr>
      <tr>
        <td class="name">Window Level:</td>
        <td>{{ctrl.viewer.lut_window.level}}</td>
      </tr>
      <tr>
        <td class="name">Frame:</td>
        <td>{{ctrl.viewer.frame}} of {{ctrl.viewer.frames}}</td>
      </tr>
    </table>
    <div class="warnings">
      <div ng-repeat="warning in ctrl.warnings" class="warning">
        <span class="head"><i class="fa fa-exclamation-triangle"></i>&nbsp;Warning: </span>
        <span class="message">{{warning}}</span>
        </div>
    </div>
    <div class="hida_result" ng-if="ctrl.bridge.hida.result">
      <table>
        <tr>
          <td class="name">Liver Uptake</td>
          <td class="value">{{$root._.round(ctrl.bridge.hida.result.LClr_min, 3)}}</td>
          <td class="units">% / min</td>
        </tr>
        <tr>
          <td class="name">Liver Uptake</td>
          <td class="value">{{$root._.round(ctrl.bridge.hida.result.LClr_BSA, 3)}}</td>
          <td class="units">% / min / m<sup>2</sup></td>
        </tr>
        <tr>
          <td class="name">HIDA-C15</td>
          <td class="value">{{$root._.round(ctrl.bridge.hida.result.HIDAc15, 3)}}</td>
          <td class="units">%</td>
        </tr>
        <tr>
          <td class="name">FRLU</td>
          <td class="value">{{$root._.round(ctrl.bridge.hida.result.FRLF, 3)}}</td>
          <td class="units">% of total Liver Uptake</td>
        </tr>
        <tr>
          <td class="name">FRLV</td>
          <td class="value">{{$root._.round(ctrl.bridge.hida.result.FRLF_BSA_Corrected, 3)}}</td>
          <td class="units">% / min / m<sup>2</sup></td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-if="ctrl.viewer.loaded() &amp;&amp; ctrl.details" class="info">
    <h2>DICOM Image information</h2><i ng-click="ctrl.showImage()" class="infoToggle fa fa-picture-o"></i>
    <table class="dataset">
      <tr ng-repeat="element in ctrl.viewer.file.file.elementList">
        <td class="level">
          <div>
            <i class="fa fa-ellipsis-v" ng-repeat="i in $root._.times(element.level)"></i>
          </div>
        </td>
        <td class="tag">{{element.display}}</td>
        <td class="name">{{element.name}}</td>
        <td ng-switch="element.type" class="value">
          <span ng-switch-when="unsupported" class="unsupported">
            Unsupported {{element.vr}} tag of {{element.length}} bytes
          </span>
          <span ng-switch-when="sequence" class="unsupported">
            Sequence shown below
          </span>
          <span ng-switch-default="ng-switch-default">{{element.value.toString()}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>