.dicom-viewer-directive
  .placeholder(ng-if="!ctrl.viewer.loaded()")
    h1 No DICOM image loaded!
    h2 You can use drag & drop to load files
  .image(ng-show="ctrl.viewer.loaded() && !ctrl.details")
    canvas(resize="true")
    i.infoToggle.fa.fa-info-circle(ng-click="ctrl.showInfo()")
    table
      tr
        td.name Patient ID:
        td {{ctrl.viewer.file.file.get('x00100020').toString()}}
      tr
        td.name DOB:
        td {{ctrl.viewer.file.file.get('x00100030').toString()}}
      tr
        td.name Window Width: 
        td {{ctrl.viewer.lut_window.width}}
      tr
        td.name Window Level:
        td {{ctrl.viewer.lut_window.level}}
      tr
        td.name Frame:
        td {{ctrl.viewer.frame}} of {{ctrl.viewer.frames}}
    .warnings
      .warning(ng-repeat="warning in ctrl.warnings")
        span.head
          i.fa.fa-exclamation-triangle
          | &nbsp;Warning: 
        span.message {{warning}}
  .info(ng-if="ctrl.viewer.loaded() && ctrl.details")
    h2 DICOM Image information
    i.infoToggle.fa.fa-picture-o(ng-click="ctrl.showImage()")
    table
      tr(ng-repeat="(tag, element) in ctrl.viewer.file.file.data.elements")
        td.tag {{element.display}}
        td.name {{element.info.name}}
        td.value(ng-switch="element.type")
          span.unsupported(ng-switch-when="unsupported") Unsupported tag of {{element.length}} bytes
          span.unsupported(ng-switch-when="sequence") Unsupported sequence of {{element.length}} bytes
          span(ng-switch-default) {{element.value.toString()}}
