
<div class="dicom-viewer-directive">
  <div ng-if="!ctrl.viewer.loaded()" class="placeholder">
    <h1>No DICOM image loaded!</h1>
    <h2>You can use drag & drop to load files</h2>
  </div>
  <div ng-show="ctrl.viewer.loaded() &amp;&amp; !ctrl.details" class="image">
    <canvas resize="true"></canvas><i ng-click="ctrl.showInfo()" class="infoToggle fa fa-info-circle"></i>
    <table>
      <tr>
        <td class="name">Patient ID:</td>
        <td>{{ctrl.viewer.file.file.get('x00100020').toString()}}</td>
      </tr>
      <tr>
        <td class="name">DOB:</td>
        <td>{{ctrl.viewer.file.file.get('x00100030').toString()}}</td>
      </tr>
      <tr>
        <td class="name">Window Width: </td>
        <td>{{ctrl.viewer.lut_window.width}}</td>
      </tr>
      <tr>
        <td class="name">Window Level:</td>
        <td>{{ctrl.viewer.lut_window.level}}</td>
      </tr>
      <tr>
        <td class="name">Frame:</td>
        <td>{{ctrl.viewer.frame}} of {{ctrl.viewer.frames}}</td>
      </tr>
    </table>
    <div class="warnings">
      <div ng-repeat="warning in ctrl.warnings" class="warning"><span class="head"><i class="fa fa-exclamation-triangle"></i>&nbsp;Warning: </span><span class="message">{{warning}}</span></div>
    </div>
  </div>
  <div ng-if="ctrl.viewer.loaded() &amp;&amp; ctrl.details" class="info">
    <h2>DICOM Image information</h2><i ng-click="ctrl.showImage()" class="infoToggle fa fa-picture-o"></i>
    <table>
      <tr ng-repeat="(tag, element) in ctrl.viewer.file.file.data.elements">
        <td class="tag">{{element.display}}</td>
        <td class="name">{{element.info.name}}</td>
        <td ng-switch="element.type" class="value"><span ng-switch-when="unsupported" class="unsupported">Unsupported tag of {{element.length}} bytes</span><span ng-switch-when="sequence" class="unsupported">Unsupported sequence of {{element.length}} bytes</span><span ng-switch-default="ng-switch-default">{{element.value.toString()}}</span></td>
      </tr>
    </table>
  </div>
</div>