.dicom-controls-directive
  .action(ng-show="!ctrl.merged", ng-click="ctrl.merge()")
    i.icon.fa.fa-picture-o
    .text Merge
  .action(ng-show="ctrl.merged", ng-click="ctrl.unmerge()")
    i.icon.fa.fa-picture-o
    .text Unmerge
  .action(ng-click="ctrl.window()", ng-class="{selected: ctrl.viewer.state == ctrl.viewer.STATE_WINDOW}")
    i.icon.fa.fa-picture-o
    .text Window
  .action(ng-click="ctrl.draw()", ng-class="{selected: ctrl.viewer.state == ctrl.viewer.STATE_DRAW}")
    i.icon.fa.fa-pencil-square-o
    .text Draw
  .action(ng-click="ctrl.edit()", ng-class="{selected: ctrl.viewer.state == ctrl.viewer.STATE_EDIT}")
    i.icon.fa.fa-arrows
    .text Edit