
<div class="dicom-controls-directive">
  <div ng-if="!ctrl.analysis">
    <div ng-if="!ctrl.merged" ng-click="ctrl.merge()" class="action"><i class="icon fa fa-picture-o"></i>
      <div class="text">Merge</div>
    </div>
    <div ng-if="ctrl.merged" ng-click="ctrl.unmerge()" class="action"><i class="icon fa fa-picture-o"></i>
      <div class="text">Unmerge</div>
    </div>
    <div ng-click="ctrl.analyse()" class="action"><i class="icon fa fa-connectdevelop"></i>
      <div class="text">Analyse!</div>
    </div>
    <div ng-click="ctrl.window()" ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_WINDOW}" class="action"><i class="icon fa fa-picture-o"></i>
      <div class="text">Window</div>
    </div>
    <div ng-click="ctrl.draw()" ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_DRAW}" class="action"><i class="icon fa fa-pencil-square-o"></i>
      <div class="text">Draw</div>
    </div>
<!-- 
    <div ng-click="ctrl.edit()" ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_EDIT}" class="action"><i class="icon fa fa-arrows"></i>
      <div class="text">Edit</div>
    </div>
 -->
  </div>
  <div ng-if="ctrl.analysis">
    <div ng-click="ctrl.unAnalyse()" class="action"><i class="icon fa fa-picture-o"></i>
      <div class="text">Back to image</div>
    </div>
    <div ng-click="bridge.analysisDir.analyse()" ng-class="{selected: bridge.analysisDir.isValid()}" class="action"><i class="icon fa fa-connectdevelop"></i>
      <div class="text">Analyse!</div>
    </div>
  </div>
</div>