.dicom-directive
  .dicom(style="width: 100%; heigth: 100%;")
  table(style="position: absolute; top: 30px; left: 30px;")
    tr
      td
        strong Window Width: 
      td {{ctrl.ww}}
    tr
      td
        strong Window Level:
      td {{ctrl.wl}}
    tr
      td
        strong Frame:
      td {{ctrl.frame}} of {{ctrl.frames}}
    tr
      td
        strong Color:
      td {{ctrl.color}}