input#file(style='display:none;', type='file', multiple='')

.dicom-controls-directive
  .action(ng-click="ctrl.load()")
    i.icon.fa.fa-floppy-o
    .text Load
  .action(ng-click="ctrl.hida()")
    i.icon.fa.fa-cogs
    .text HIDA
  .action(ng-click="ctrl.window()", ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_WINDOW}")
    i.icon.fa.fa-picture-o
    .text Window
  .action(ng-click="ctrl.draw()", ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_DRAW}")
    i.icon.fa.fa-pencil-square-o
    .text Draw
  .action(ng-click="ctrl.edit()", ng-class="{selected: bridge.viewerDir.viewer.state == bridge.viewerDir.viewer.STATE_EDIT}")
    i.icon.fa.fa-arrows
    .text Edit