.dicom-directive
  canvas(resize="true")
  table
    tr
      td
        strong Window Width: 
      td {{ctrl.lut_window.width}}
    tr
      td
        strong Window Level:
      td {{ctrl.lut_window.level}}
    tr
      td
        strong Frame:
      td {{ctrl.frame}} of {{ctrl.frames}}
    tr
      td
        strong Color:
      td {{ctrl.color}}